/*---------------Generel styling og responsivitet-----------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  max-width: 100%;
  margin: 0;
  padding: 0; }

article {
  padding: 0.5rem; }

hr {
  border: 1px solid #cccad0;
  margin: 1rem 0 1rem 0; }

@font-face {
  font-family: "Oswald";
  src: url("../Oswald-VariableFont_wght.ttf") format("truetype"); }

/*---------------Flex---------*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.flex-inline-col-center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-inline-row-center {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.flex-inline-row-between {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

/*---------------Grid----------*/
.col-span-1 {
  grid-column: span 1; }

.col-span-2 {
  grid-column: span 2; }

.col-span-3 {
  grid-column: span 3; }

.col-span-4 {
  grid-column: span 4; }

.col-span-5 {
  grid-column: span 5; }

.col-span-6 {
  grid-column: span 6; }

.col-span-7 {
  grid-column: span 7; }

.col-span-8 {
  grid-column: span 8; }

.col-span-9 {
  grid-column: span 9; }

.col-span-10 {
  grid-column: span 10; }

.col-span-11 {
  grid-column: span 11; }

.col-span-12 {
  grid-column: span 12; }

/*--------------------mobil Version---------------*/
@media (max-width: 330px) {
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; }
    .mobile .container {
      max-width: 330px; }
    .mobile .logo {
      width: 110px; }
  .cover-picture {
    background-image: url("/img/cover-pigture-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    margin-bottom: 3rem; } }

/*--------------------Desktop Version--------------*/
@media (min-width: 331px) {
  .desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px; }
  .cover-picture {
    background-image: url("/img/cover-photo-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    margin-bottom: 2rem; } }

/*--------------------Farver----------*/
.text-primary {
  color: #1c494b; }

.bg-primary {
  background-color: #1c494b; }

.text-sucess {
  color: #164400; }

.bg-sucess {
  background-color: #164400; }

.text-fail {
  color: #9f1a1a; }

.bg-fail {
  background-color: #9f1a1a; }

/*------------------------Tekst--------------*/
.title {
  font-family: "oswald";
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #1c494b; }

.header {
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  color: #1c494b; }

.paragraph {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color: black;
  padding: 0 0.5rem 0 0.5rem; }

.profile-information {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  color: black; }

.profile-information-header {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  color: black; }

.profile-name {
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
  color: #1c494b; }

.list-no-style {
  list-style-type: none; }
  .list-no-style li {
    font-family: "oswald";
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1px;
    color: black; }

.bi {
  margin: 0 1rem 0 0; }

.profile-picture {
  border-radius: 50%;
  border: 5px solid white;
  max-width: 50%;
  transform: translateY(20%); }

.btn-primary {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0.5rem;
  background-color: #1c494b;
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 60px; }
  .btn-primary:hover {
    background-color: white;
    border: 5px solid #1c494b;
    color: #1c494b; }

.btn-primary-light {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0.5rem;
  background-color: rgba(28, 73, 75, 0.5);
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 60px; }
  .btn-primary-light:hover {
    background-color: white;
    border: 5px solid rgba(28, 73, 75, 0.5);
    color: rgba(28, 73, 75, 0.5); }

.btn-accept {
  width: 150px;
  height: 100%;
  background-color: #1c494b;
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 100%;
  padding: 0.5rem; }
  .btn-accept:hover {
    background-color: white;
    border: 5px solid #1c494b;
    color: #1c494b; }

.btn-decline {
  width: 150px;
  height: 100%;
  background-color: #cccad0;
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 100%;
  color: black;
  padding: 0.5rem; }
