/*---------------Generel styling og responsivitet-----------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  max-width: 100%;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

article {
  padding: 0.5rem; }

hr {
  border: 1px solid #cccad0;
  margin: 1rem 0 1rem 0; }

.container {
  padding: 0 1rem 0 1rem; }

@font-face {
  font-family: "Oswald";
  src: url("../Oswald-VariableFont_wght.ttf") format("truetype"); }

/*---------------Flex---------*/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.flex-inline-col-center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-inline-row-center {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.flex-inline-row-between {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

/*---------------Grid----------*/
.col-span-1 {
  grid-column: span 1; }

.col-span-2 {
  grid-column: span 2; }

.col-span-3 {
  grid-column: span 3; }

.col-span-4 {
  grid-column: span 4; }

.col-span-5 {
  grid-column: span 5; }

.col-span-6 {
  grid-column: span 6; }

.col-span-7 {
  grid-column: span 7; }

.col-span-8 {
  grid-column: span 8; }

.col-span-9 {
  grid-column: span 9; }

.col-span-10 {
  grid-column: span 10; }

.col-span-11 {
  grid-column: span 11; }

.col-span-12 {
  grid-column: span 12; }

.row-span-1 {
  grid-row: span 1; }

.row-span-2 {
  grid-row: span 2; }

.row-span-3 {
  grid-row: span 3; }

.row-span-4 {
  grid-row: span 4; }

.row-span-5 {
  grid-row: span 5; }

.row-span-6 {
  grid-row: span 6; }

.row-span-7 {
  grid-row: span 7; }

.row-span-8 {
  grid-row: span 8; }

.row-span-9 {
  grid-row: span 9; }

.row-span-10 {
  grid-row: span 10; }

.row-span-11 {
  grid-row: span 11; }

.row-span-12 {
  grid-row: span 12; }

.start-row-1 {
  grid-row-start: 1; }

.start-row-2 {
  grid-row-start: 2; }

.start-row-3 {
  grid-row-start: 3; }

.start-row-4 {
  grid-row-start: 4; }

.start-row-5 {
  grid-row-start: 5; }

.start-col-1 {
  grid-column-start: 1; }

.start-col-2 {
  grid-column-start: 2; }

.start-col-3 {
  grid-column-start: 3; }

.start-col-4 {
  grid-column-start: 4; }

.start-col-5 {
  grid-column-start: 5; }

.grid-messenger {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  grid-template-rows: 0.2fr 1.7fr 0.1fr 1fr; }

/*--------------------mobil Version---------------*/
@media (max-width: 330px) {
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; }
    .mobile .container {
      max-width: 330px; }
    .mobile .logo {
      width: 110px; }
    .mobile .profile-picture {
      border-radius: 50%;
      border: 5px solid white;
      max-width: 50%;
      transform: translatey(20%); }
    .mobile .mobile-hidden {
      display: none; }
  .cover-picture {
    background-image: url("/img/cover-pigture-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    margin-bottom: 3rem; } }

/*--------------------Desktop Version--------------*/
@media (min-width: 331px) {
  .desktop {
    display: grid;
    grid-template-columns: 3;
    max-width: 877px;
    margin: 0 auto; }
    .desktop .logo {
      max-width: 200px; }
    .desktop .profile-picture {
      border-radius: 50%;
      border: 5px solid white;
      max-width: 25%;
      transform: translatey(35%); }
    .desktop .desktop-row-sb {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .desktop .desktop-row-sb .about li {
        margin-right: 1.5rem; }
      .desktop .desktop-row-sb .friends li {
        margin-left: 1.5rem; }
    .desktop .desktop-hidden {
      display: none; }
  .cover-picture {
    background-image: url("/img/cover-photo-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    margin-bottom: 2rem; } }

/*--------------------Farver----------*/
.text-primary {
  color: #1c494b; }

.bg-primary {
  background-color: #1c494b; }

.text-sucess {
  color: #164400; }

.bg-sucess {
  background-color: #164400; }

.text-fail {
  color: #9f1a1a; }

.bg-fail {
  background-color: #9f1a1a; }

/*------------------------Tekst--------------*/
.title {
  font-family: "oswald";
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  color: #1c494b; }

.header {
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.5px;
  color: #1c494b; }

.paragraph {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  color: black;
  padding: 0 0.5rem 0 0.5rem; }

.profile-information {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.5px;
  color: black; }

.profile-information-header {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  color: black; }

.profile-name {
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5px;
  color: #1c494b; }

.list-no-style {
  list-style-type: none; }
  .list-no-style li {
    font-family: "oswald";
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.5px;
    color: black; }

.bi {
  margin: 0 1rem 0 0; }

/* --------- Venneanmodning side ---------*/
.post {
  padding: 2rem; }

/*-------- Messenger side -------*/
.messenger-header {
  background-color: #ececec;
  padding: 0.5rem;
  margin-bottom: 1rem; }
  .messenger-header .bi {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: #1c494b; }

.bi-exclamation-triangle-fill {
  color: #1c494b;
  font-size: 3rem; }
  .bi-exclamation-triangle-fill:hover {
    color: #164400;
    cursor: pointer; }

.bi-three-dots {
  font-size: 1.5rem;
  text-align: center;
  color: #1c494b;
  float: right; }

.messenger-picture {
  border-radius: 50%;
  max-width: 20%;
  min-width: 15%; }

.message {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.5px;
  color: black;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #ececec;
  border-radius: 10px;
  margin: 0.5rem; }

.typing-message {
  margin-bottom: 2rem; }

.messenger-name {
  font-family: "oswald";
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.5px;
  color: #cccad0; }

.btn-primary {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0.5rem;
  background-color: #1c494b;
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 60px; }
  .btn-primary:hover {
    background-color: white;
    border: 5px solid #1c494b;
    color: #1c494b;
    cursor: pointer; }

.btn-primary-light {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0.5rem;
  background-color: rgba(28, 73, 75, 0.5);
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 60px; }
  .btn-primary-light:hover {
    background-color: white;
    border: 5px solid rgba(28, 73, 75, 0.5);
    color: rgba(28, 73, 75, 0.5);
    cursor: pointer; }

.btn-accept {
  width: 150px;
  height: 100%;
  background-color: #1c494b;
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 100%;
  padding: 0.5rem; }
  .btn-accept:hover {
    background-color: white;
    border: 5px solid #1c494b;
    color: #1c494b;
    cursor: pointer; }

.btn-decline {
  width: 150px;
  height: 100%;
  background-color: #cccad0;
  font-family: "oswald";
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  color: white;
  border-radius: 10px;
  border: 5px solid white;
  text-decoration: none;
  line-height: 100%;
  color: black;
  padding: 0.5rem; }
  .btn-decline:hover {
    background-color: white;
    border: 5px solid #cccad0;
    color: black;
    cursor: pointer; }

.messenger-link-btn {
  text-decoration: underline;
  color: #1c494b;
  border: none; }
  .messenger-link-btn:hover {
    color: #9f1a1a;
    cursor: pointer; }

.block-report-btn {
  border: none;
  background-color: white; }
