
// Color variables
$primary: #1c494b;
$primary-transparent: rgba(28, 73, 75, 0.8);
$success: #164400;
$success-transparent: rgba(22, 68, 0, 0.6);
$fail: #9f1a1a;
$fail-transparent: rgba(159, 26, 26, 0.5);
$light-grey: #ececec;
$grey: #cccad0;
$grey-transparent: rgba(125, 125, 125, 0.5);
$dark-grey: #969292;

// Breakpoints for responsiveness
$breakpoints: (
  "sm": (
    max: 330px,
  ),
  "lg": (
    max: 2000px,
  ),
);

/*--------------- General styling and responsiveness ---------------*/

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

article {
  padding: 0.5rem;
}

hr {
  border: 1px solid $grey;
  margin: 2rem 0;
}

.container {
  padding: 0 1rem;
}

.padding-2 {
  padding: 2rem;
}

// Importing external resources
@import "fonts";
@import "responsive";
@import "base";
@import "elements/buttons";
@import "elements/modal";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*-------------------- Colors ----------------------*/

// Loop through color variables to generate text and background color classes
$colors: (
  "primary": $primary,
  "success": $success,
  "fail": $fail
);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val;
  }
}

/*------------------------ Text styles ------------------------*/

$font-family: "Oswald-VariableFont_wght.ttf", sans-serif;

@mixin text-styles($font-size, $font-weight, $alignment, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $alignment;
  letter-spacing: 0.5px;
  color: $color;
}

.title {
  @include text-styles(2rem, bold, center, $primary);
  padding: 1.5rem 0;
}

.header {
  @include text-styles(1.5rem, 600, center, $primary);
  padding: 2rem;
}

.header-small {
  @include text-styles(1rem, 500, center, $primary);
  margin-bottom: 1rem;
}

.paragraph {
  @include text-styles(1rem, 400, center, black);
  padding: 0.5rem;
}

.paragraph-left {
  @include text-styles(1rem, 300, left, black);
  padding: 0 0.5rem;
}

.profile-information,
.profile-information-header {
  @include text-styles(1rem, 300, left, black);
}

.profile-name {
  @include text-styles(1.5rem, 400, left, $primary);
}

.list-no-style li {
  @include text-styles(1rem, 300, left, black);
}

.bi {
  margin-right: 1rem;
}

/* --------------------- Front page --------------------- */

.logo {
  margin: 2rem 0;
}

/* ----------------- Friend request page ----------------- */

.post {
  padding: 2rem;
}

/* ----------------- Messenger page ----------------- */

.messenger-header {
  background-color: $light-grey;
  padding: 0.5rem;
  margin-bottom: 1rem;

  .bi {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: $primary;
  }
}

.bi-exclamation-triangle-fill {
  color: $primary;
  font-size: 3rem;
  &:hover {
    color: $success;
    cursor: pointer;
  }
}

.bi-three-dots {
  font-size: 1.5rem;
  color: $primary;
  float: right;
}

.messenger-picture {
  @include img-round(null, 20%, null);
  min-width: 15%;
}

.message {
  @include text-styles(1rem, 300, left, black);
  padding: 1rem;
  background-color: $light-grey;
  border-radius: 10px;
  margin: 0.5rem;
}

.typing-message {
  margin-right: 2rem;
}

.messenger-name {
  @include text-styles(1rem, 300, left, $grey);
}

/* ----------------- Information page ----------------- */

.hidden {
  display: none;
  opacity: 0;
}

@media (max-width: 330px) {
  .mobile-hidden {
    display: none;
    opacity: 0;
  }
}

.return-header {
  position: sticky;
  top: 0;
  height: 15px;
  padding: 1.5rem;
  width: 100%;
  text-align: right;
  backdrop-filter: blur(10px);

  a {
    color: $primary;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      color: $grey;
    }
  }
}

.info-header {
  margin-bottom: 3rem;
}

.mini-quiz {
  background-color: $primary-transparent;

  h2,
  p {
    color: white;
    margin-bottom: 1rem;
  }

  margin-bottom: 2rem;
}

@mixin inputfield($border, $borderFocus) {
  border: $border;
  padding: 0.5rem;
  border-radius: 10px;

  &:focus,
  &:hover {
    outline: none;
    border: $borderFocus;
  }
}

.input-field {
  @include inputfield(3px solid white, 3px solid $primary);
}

.modal-input {
  @include inputfield(3px solid $grey, 3px solid $primary);
  padding: 0.7rem;
  text-align: center;
}

.padding-1 {
  padding: 1rem 0;
}

.identity-scale label {
  display: inline-block;
  margin: 0.2rem;
  @include text-styles(1rem, 300, center, white);
}

#slider {
  width: 100%;
}
