/*--------------------Farver----------*/
$colors: (
  "primary": $primary,
  "sucess": $sucess,
  "fail": $fail,
);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val;
  }
}

/*------------------------Tekst--------------*/
$font-family: "Oswald-VariableFont_wght.ttf", sans-serif;

@mixin text-styles($font-type, $font-size, $font-weight, $alignment, $color) {
  font-family: $font-type;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $alignment;
  letter-spacing: 0.5px;
  color: $color;
}

.title {
  @include text-styles($font-family, 2rem, bold, center, $primary);
}

.header {
  @include text-styles($font-family, 1.5rem, 600, center, $primary);
}
.header-small {
  @include text-styles($font-family, 1rem, 500, center, $primary);
  margin-bottom: 1rem;
}

.paragraph {
  @include text-styles(sans-serif, 1rem, 400, center, black);
  padding: 0 0.5rem 0 0.5rem;
}
.paragraph-left {
  @include text-styles(sans-serif, 1rem, 300, left, black);
  padding: 0 0.5rem 0 0.5rem;
}
.profile-information {
  @include text-styles($font-family, 1rem, 300, left, black);
}
.profile-information-header {
  @include text-styles($font-family, 1rem, 500, left, black);
}

.profile-name {
  @include text-styles($font-family, 1.5rem, 400, left, $primary);
}

.list-no-style {
  list-style-type: none;

  li {
    @include text-styles($font-family, 1rem, 300, left, black);
  }
}

.bi {
  margin: 0 1rem 0 0;
}

/* ----------- Forside ------*/

/* --------- Venneanmodning side ---------*/
.post {
  padding: 2rem;
}
/*-------- Messenger side -------*/
.messenger-header {
  background-color: $light-grey;
  padding: 0.5rem;
  margin-bottom: 1rem;

  .bi {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: $primary;
  }
}

.bi-exclamation-triangle-fill {
  color: $primary;
  font-size: 3rem;
  &:hover {
    color: $sucess;
    cursor: pointer;
  }
}

.bi-three-dots {
  font-size: 1.5rem;
  text-align: center;
  color: $primary;
  float: right;
}
.messenger-picture {
  @include img-round(null, 20%, null);
  min-width: 15%;
}

.message {
  @include text-styles(sans-serif, 1rem, 300, left, black);
  padding: 1rem;
  background-color: $light-grey;
  border-radius: 10px;
  margin: 0.5rem;
}

.typing-message {
  margin-right: 2rem;
}
.messenger-name {
  @include text-styles($font-family, 1rem, 300, left, $grey);
}

/*--------Informations side --------*/
.hidden {
  display: none;
  opacity: 0;
}

.return-header {
  position: sticky;
  top: 0;
  height: 15px;
  padding: 1.5rem;
  width: 100%;
  text-align: right;
  background-color: rbg(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);

  a {
    color: $primary;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      color: $grey;
    }
  }
}

.info-header {
  margin-bottom: 3rem;
}

.mini-quiz {
  background-color: $primary-transparent;

  h2,
  p {
    color: white;
    margin-bottom: 1rem;
  }
}

@mixin inputfield($border, $borderFocus) {
  border: $border;
  padding: 0.5rem;
  border-radius: 10px;

  &:focus,
  &:hover {
    outline: none;
    border: $borderFocus;
  }
}

.input-field {
  @include inputfield(3px solid white, 3px solid $primary);
}

.modal-input {
  @include inputfield(3px solid $grey, 3px solid $primary);
  padding: 0.7rem;
  text-align: center;
}

.padding-1 {
  padding: 1rem 0 1rem 0;
}

.identity-scale label {
  display: inline-block;
  margin: 0.2rem;
  @include text-styles($font-family, 1rem, 300, center, white);
}

#slider {
  width: 100%;
}
