/*---------------Flex---------*/
@mixin responsive-flex($display, $direction, $align-items, $justify-content) {
  display: $display;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
.flex-row {
  @include responsive-flex(flex, row, center, null);
}

.flex-col-center {
  @include responsive-flex(flex, column, center, center);
}
.flex-row-sb {
  @include responsive-flex(flex, row, center, space-between);
}
.flex-col-reverse {
  @include responsive-flex(flex, column-reverse, center, center);
}
.flex-row-center {
  @include responsive-flex(flex, row, center, center);
}
.flex-inline-col-center {
  @include responsive-flex(inline-flex, column, center, center);
}
.flex-inline-row-center {
  @include responsive-flex(inline-flex, row, center, center);
}
.flex-inline-row-between {
  @include responsive-flex(inline-flex, row, center, space-between);
}

/*---------------Grid----------*/
@mixin responsive-grid($display, $columns, $gap) {
  display: $display;
  grid-template-columns: $columns;
  gap: $gap;
}

// //giver classes .col-span-xx. denne class justeres ikke efter skærmstørrelse
@for $i from 1 to 13 {
  .col-span-#{$i} {
    grid-column: span $i;
  }
}
@for $i from 1 to 13 {
  .row-span-#{$i} {
    grid-row: span $i;
  }
}
@for $i from 1 to 6 {
  .start-row-#{$i} {
    grid-row-start: $i;
  }
}
@for $i from 1 to 6 {
  .start-col-#{$i} {
    grid-column-start: $i;
  }
}

.grid-messenger {
  @include responsive-grid(grid, 2fr 1fr, 0);
  width: 100%;
  height: auto;
  padding: 0.5rem;
  grid-template-rows: 0.2fr 1.7fr 0.1fr 1fr;
}

@mixin img-round($border, $width, $transform) {
  border-radius: 50%;
  border: $border;
  max-width: $width;
  transform: $transform;
}

/*----------------------------------------mobil Version-----------------------------*/
@media (max-width: 330px) {
  .mobile {
   

    @include responsive-flex(flex, column, center, null);
    max-width: 100%;

    .container {
      max-width: 310px;
    }

    .logo {
      width: 110px;
    }

    .mobile-hidden {
      display: none;
    }

    .mobile-row-sb {
      @include responsive-flex(flex, row, center, space-between);
    }

    //--------Information side
    .info-fold-button {
      height: 12px;
      width: 23px;
      margin-left: 6rem;
      background-image: url("/img/arrow-down-sm.png");
      background-position: center;
      background-color: white;
      border: none;
      transition: background-image 0.3s ease;
    }

    .info-header {
      p,
      h2 {
        padding-top: 1rem;
      }
      margin-bottom: 2rem;
    }

    .info-text-block {
      margin-bottom: 2rem;

      h3 {
        margin-bottom: 1rem;
      }

      .paragraph {
        text-align: left;
        padding: 0.5rem;
      }
    }
  }

  .mini-quiz {
    padding: 1rem;
  }

  .percentage-fieldset {
    @include responsive-flex(flex, row, center, center);

    input {
      max-width: 50%;
    }
  }
  // ----------Test startside
  .cover-picture {
    background-image: url("img/cover-pigture-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    margin-bottom: 4rem;
  }

  .profile-name{
    padding-bottom: 1rem;
  }


  .profile-picture {
    @include img-round(5px solid white, 50%, translatey(20%));
  }
  //-----------Messenger side
  .input-messenger {
    max-width: 90%;
    position: fixed;
    bottom: 1rem;
  }
}

/*----------------------------------------Desktop Version---------------------------*/
@media (min-width: 331px) {
  .desktop {
    @include responsive-grid(grid, 3 repeat(1fr), null);
    max-width: 877px;
    margin: 0 auto;

    .desktop-row-sb {
      @include responsive-flex(flex, row, center, space-between);
    }

    .desktop-hidden {
      display: none;
    }
    /////////////////////Forside
    .frontpage {
      padding-top: 2rem;

      h1,
      p {
        padding: 1rem 0;
      }
    }
    .logo {
      max-width: 200px;
    }

    //////////////////Test startside
    .cover-picture {
      background-image: url("img/cover-photo-desktop.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
    }

    .about li {
      margin-right: 1.5rem;
    }

    .friends li {
      margin-left: 1.5rem;
    }
    .profile-picture {
      @include img-round(5px solid white, 25%, translatey(35%));
    }

    //////////////////Informations side
    .info-text-block {
      p {
        padding: 0 4rem;
        text-align: left;
      }
    }
  }

  .mini-quiz {
    padding: 2rem;
    margin: 2rem 0;
  }

  .identity-scale label {
    width: 4rem;
  }

  .identity-fieldset {
    @include responsive-flex(flex, row, center, center);
  }

  //-----------Messenger side
  .input-messenger {
    max-width: 70%;
    position: fixed;
    bottom: 3rem;
  }
}
