// Mixin til at definere knappens stil
@mixin button-style($bredde, $hoejde, $skrift-stoerrelse, $baggrund, $margin) {
  width: $bredde;
  height: $hojde;
  margin: $margin;
  background-color: $baggrund;
  @include text-styles($font-family, $skrift-stoerrelse, 300, center, white);
  border-radius: 10px;
  text-decoration: none;
  line-height: $hojde;
}

// Mixin til at definere knappens hover-effekt
@mixin button-hover($baggrundsfarve, $kantfarve, $tekstfarve) {
  background-color: $baggrundsfarve;
  border: 5px solid $kantfarve;
  color: $tekstfarve;
  cursor: pointer;
}

// Klasse til primære knapper
.btn-primary {
  display: block;
  border: 5px solid white;
  @include button-style(300px, 60px, 1.5rem, $primary, 0.5rem);
  &:hover {
    @include button-hover(white, $primary, $primary);
  }
}

// Klasse til lyse primære knapper
.btn-primary-light {
  display: block;
  border: 5px solid white;
  @include button-style(300px, 60px, 1.5rem, $primary-transparent, 0.5rem);
  &:hover {
    @include button-hover(white, $primary-transparent, $primary-transparent);
  }
}

// Mixin til at definere knapstil
@mixin button-btn {
  padding: 0.5rem;
}

// Klasse til accept-knappen
.btn-accept {
  border: 5px solid $primary;
  margin-right: 10px;
  @include button-style(auto, 100%, 1.2rem, $primary, null);
  @include button-btn();
  &:hover {
    @include button-hover(white, $primary, $primary);
  }
}

// Klasse til afvis-knappen
.btn-decline {
  border: 5px solid $grey;
  @include button-style(150px, 100%, 1.2rem, $grey, null);
  color: black;
  @include button-btn();
  &:hover {
    @include button-hover(white, $grey, black);
  }
}

// Klasse til gæt-knappen
.btn-guess {
  @include button-style(auto, auto, 1rem, $primary, 0.5rem);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid $primary;
  &:hover {
    background-color: $primary-transparent;
    border: 3px solid $grey;
  }
}

// Klasse til messenger-link knapper
.messenger-link-btn {
  text-decoration: underline;
  color: $primary;
  border: none;

  &:hover {
    color: $fail;
    cursor: pointer;
  }
}

// Id til blokere/rapporter knap
#block-report-btn {
  border: none;
  background-color: white;
}

// Klasse til adgangskodebesked knap
.pw-message-btn {
  border: none;
  width: 100%;
  height: 100px;
  padding: 1rem;
  @include text-styles($font-family, 1.2rem, 400, center, $primary);

  &:hover {
    color: $primary-transparent;
    cursor: pointer;
    background-color: white;
  }
}

// Klasse til at vise adgangskode
.show-password {
  border: none;
  font-size: 2rem;
  color: $primary;
  background-color: $light-grey;
  cursor: pointer;
}
