// Mixin til at definere modalens egenskaber
@mixin modal($baggrund, $padding) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  padding: $padding;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  background-color: $baggrund;
}

// Stilregler for modalen og dens elementer
.modal,
.dialog-box {
  @include modal(white, 2rem 4rem);

  // Justeringer for større skærme
  @media (min-width: 331px) {
    .header {
      margin: 1rem 0.5rem;
    }
    .dialogue-wide {
      width: 600px;
    }
    p {
      padding: 1.5rem;
    }
  }

  // Justeringer for mindre skærme
  @media (max-width: 330px) {
    .header {
      margin: 2rem 0.5rem 0rem 0.5rem;
    }
    p {
      padding: 1rem;
    }
  }
}

// Stilregler for specifikke elementer der er skjult som standard
#pw,
#test-completed,
#blocked-reported {
  display: none;

  // Stilregler for knapper inde i dialog-bokse
  .btn-primary,
  .btn-primary-light {
    width: 400px;
  }
}

// Stilregler for dialogens indhold
.dialog-content {
  @include modal($light-grey, 1rem 0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Stilregler for overskrift i dialogen
  .header-small {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem;
  }
  // Stilregler for afsnit i dialogen
  .paragraph {
    padding: 1rem 2rem;
  }

  // Stilregler for input-felter
  .input-field {
    border: 1px solid $primary-transparent;
    margin: 1rem;

    &:hover {
      border: 2px solid $primary;
    }
  }
}

// Klasse til at ændre tekstfarven til fail-farve
.failure-txt {
  color: $fail !important;
}

// Stilregler for en mørk vandret streg
.hr-dark {
  border: 2px solid $grey-transparent;
  width: 100%;
}

// Mixin til at definere overlayens egenskaber
@mixin overlay($baggrund) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

// Stilregler for overlayen og dens elementer
.overlay,
.dialog-overlay {
  @include overlay($grey-transparent);
}

.dialog-overlay {
  background-color: $grey-transparent; // Standard baggrundsfarve for overlay
}

.winOverlay {
  @include overlay($sucess-transparent);
}

.dialog-overlay.fail-background {
  background-color: $fail-transparent; // Baggrundsfarve for fail-state
}

// Stilregler for lukkeknapper
.btn-close-modal,
.close-btn {
  font-family: inherit;
  color: $primary;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;

  // Justeringer for større skærme
  @media (min-width: 331px) {
    position: inherit;
    top: 0.5rem;
    right: 2rem;
  }

  // Justeringer for mindre skærme
  @media (max-width: 330px) {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Justeringer for mindre skærme
@media (max-width: 330px) {
  .dialog-content {
    padding: 6rem 1rem 2rem 1rem;
  }

  #test-completed {
    max-width: 100%;

    // Justering af knappes bredde
    .btn-primary,
    .btn-primary-light {
      max-width: 300px;
    }
  }
}

// Justeringer for større skærme
@media (min-width: 331px) {
  // Justering af input-felters bredde
  .input-field {
    width: 270px;
    height: 30px;
  }
}
