@mixin modal($background, $padding) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  padding: $padding;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  background-color: $background;
}

.modal,
.dialog-box {
  @include modal(white, 2rem 4rem);

  p {
    padding: 1.5rem;
  }
}

#pw-dialog {
  display: none;
}

.pw-dialog-box {
  @include modal($light-grey, 1rem 0);
  border-radius: 20px;

  .header-small {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem;
  }
}

.failure-txt {
  color: $fail !important;
}

.hr-dark {
  border: 2px solid $grey-transparent;
  width: 100%;
}

@mixin overlay($background) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.overlay,
.dialog-overlay {
  @include overlay($grey-transparent);
}

.dialog-overlay {
  background-color: $grey-transparent; // Standard baggrundsfarve for overlay
}

.winOverlay {
  @include overlay($sucess-transparent);
}

.dialog-overlay.fail-background {
  background-color: $fail-transparent; // Baggrundsfarve for fail-state
}

.btn-close-modal {
  font-family: inherit;
  color: $primary;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}
